@import "../../../styles/variables";
@import "../../../styles/mixins";

.showcase {
  padding: 25px 0;
}

.showcaseContainer {
  @include container();
}

.showcaseTitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: $black;
  margin: 0 0 20px;

  &:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 50%;
    height: 5px;
    border-radius: 10px;
    background-color: $color-primary;
  }
}

.showcaseList {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  white-space: nowrap;
  gap: 10px;
}
