// Colors
$color-primary: #7a7a7a;
$color-secondary: #f8475f;

$warning: #ffa500;
$error: #f00;
$success: #008000;

$white: #fff;
$black: #2c2c2c;

// Fonts
$font-primary: "Nunito";
$font-secondary: "Lato";

// Sizes
$screen-md: 1280px;
$screen-sm: 768px;
$screen-xs: 375px;

$font-size-base: 1.6rem; // 16px
