@import "../../../styles/variables";
@import "../../../styles/mixins";

.product {
  position: relative;
  display: grid;
  cursor: pointer;
  width: 250px;
  margin: 0 20px;

  @include min-screen() {
    width: 25%;
    margin: 0;
  }

  &:hover {
    .productButtonBuy {
      opacity: 1;
    }

    .productInfo {
      background-color: #e6e8ea;
    }
  }
}

.productTag {
  position: absolute;
  top: 0;
  right: 0;

  &:after {
    content: "";
    border-right: 80px solid $color-secondary;
    border-bottom: 80px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }

  span {
    position: absolute;
    top: 12px;
    right: 7px;
    z-index: 10;
    color: $white;
    font-weight: 700;
    font-size: 2rem;
  }
}

.productImage {
  margin: 0 auto;
}

.productStars {
  display: none;
}

.productInfo {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  transition: all 0.2s;
  text-align: center;
}

.productName {
  margin: 0;
  text-align: center;
}

.productPriceOld {
  display: block;
  margin: 0 0 5px;
  text-align: center;
}

.productPriceCurrent {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.productPriceInstallments {
  margin: 0;
  font-size: 1.5rem;
  margin-top: 5px;
}

.productButtonBuy {
  background-color: black;
  color: white;
  border: 0;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;

  @include min-screen() {
    opacity: 0;
  }
}
